# Final Project Exploration

In [4]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import warnings
import data_read
import load_assets
import calc_functions

warnings.filterwarnings("ignore")

### Reports load

In [5]:
#Data Series from WRDS
rcfd_data_1 = load_assets.load_wrds_reports('ddss0fpozaxonboe') #series 1 of rcfd
rcfd_data_2 = load_assets.load_wrds_reports('dycfrwcdm9puanhs') #series 2 of rcfd
rcon_data_1 = load_assets.load_wrds_reports('m3pzkcjsgvk26dwa') #series 1 of rcon
rcon_data_2 = load_assets.load_wrds_reports('hwv0m9qml6efztsi') #series 2 of rcon
rcfn_data = load_assets.load_wrds_reports('cipzs5x6g2axzlhe') #rcfnb

In [6]:
inital_date = '03/31/2022'
analysis_date = '12/31/2023'

## Data Cleaning

### Assets

In [7]:

filtered_asset_level_0 = load_assets.clean_assets(rcfd_data_2,'RCFD2170',inital_date)
filtered_asset_level = load_assets.clean_assets(rcon_data_2,'RCON2170',inital_date)
filtered_asset_level.head()

    Bank_ID                         bank_name report_date  gross_asset
0        37            BANK OF HANCOCK COUNTY  03/31/2022      87842.0
5       242  FIRST COMMUNITY BANK XENIA-FLORA  03/31/2022      53236.0
10      279       MINEOLA COMMUNITY BANK, SSB  03/31/2022     368875.0
15      354                  BISON STATE BANK  03/31/2022      25077.0
20      457                  LOWRY STATE BANK  03/31/2022      65336.0

#### Creating a dataframe for total/gross asset for each bank

In [8]:
df_asset = pd.concat([filtered_asset_level_0, filtered_asset_level])
total_asset = df_asset['gross_asset'].sum()
df_asset.head()

      Bank_ID                            bank_name report_date  gross_asset
230     12311        HUNTINGTON NATIONAL BANK, THE  03/31/2022  176020595.0
537     30810                        DISCOVER BANK  03/31/2022  105657408.0
635     35301  STATE STREET BANK AND TRUST COMPANY  03/31/2022  318494000.0
1095    60143                        COMERICA BANK  03/31/2022   89142000.0
1170    63069                   CITY NATIONAL BANK  03/31/2022   91770285.0

#### LOANS

In [9]:
rcon_cols = ['RCONA564', 'RCONA565', 'RCONA566', 'RCONA567', 'RCONA568', 'RCONA569']
rcon_cols2 = ['RCONA570', 'RCONA571', 'RCONA572', 'RCONA573', 'RCONA574', 'RCONA575']
rcfd_cols = ['RCFDA570', 'RCFDA571', 'RCFDA572', 'RCFDA573', 'RCFDA574', 'RCFDA575']

# Residential Loans with repricing maturity (secured by first liens)
df_loans_first_lien_domestic = load_assets.clean_loans(rcon_data_1,rcon_cols,inital_date)

# Loans and Leases (not-secured by first liens)
df_loans_exc_first_lien = load_assets.clean_loans(rcfd_data_1,rcfd_cols,inital_date)
df_loans_exc_first_lien_domestic = load_assets.clean_loans(rcon_data_2,rcon_cols2,inital_date)

df_loans_first_lien_domestic.head()

,Bank_ID,bank_name,report_date,<3m,3m-1y,1y-3y,3y-5y,5y-15y,>15y
0,37,BANK OF HANCOCK COUNTY,03/31/2022,355,354,2430,2229,2641,0
5,242,FIRST COMMUNITY BANK XENIA-FLORA,03/31/2022,683,588,2566,5361,2137,0
10,279,"MINEOLA COMMUNITY BANK, SSB",03/31/2022,74,22,2136,4966,30924,113757
15,354,BISON STATE BANK,03/31/2022,41,230,995,4528,441,5310
20,457,LOWRY STATE BANK,03/31/2022,212,999,2964,11051,2962,245

In [10]:
df_other_loan = pd.concat([df_loans_exc_first_lien_domestic, df_loans_exc_first_lien])
df_other_loan = df_other_loan.sort_index()
df_other_loan.head()

,Bank_ID,bank_name,report_date,<3m,3m-1y,1y-3y,3y-5y,5y-15y,>15y
0,37,BANK OF HANCOCK COUNTY,03/31/2022,1082.0,3574.0,2928.0,3088.0,2106.0,0.0
5,242,FIRST COMMUNITY BANK XENIA-FLORA,03/31/2022,6436.0,2335.0,1715.0,2749.0,767.0,481.0
10,279,"MINEOLA COMMUNITY BANK, SSB",03/31/2022,8861.0,11647.0,16963.0,11508.0,18670.0,5189.0
15,354,BISON STATE BANK,03/31/2022,1023.0,802.0,1041.0,1249.0,489.0,0.0
20,457,LOWRY STATE BANK,03/31/2022,5623.0,5694.0,6740.0,15109.0,6130.0,1116.0

### RMBs

In [11]:
rmbs_cols = ['RCFDA555', 'RCFDA556', 'RCFDA557', 'RCFDA558', 'RCFDA559', 'RCFDA560']
rmbs_dom_cols = ['RCONA555', 'RCONA556', 'RCONA557', 'RCONA558', 'RCONA559', 'RCONA560']
df_RMBS = load_assets.clean_loans(rcfd_data_1,rmbs_cols,inital_date)
df_RMBS_dom = load_assets.clean_loans(rcon_data_1,rmbs_dom_cols,inital_date) #Form 051 - Domestic

In [12]:
df_RMBS_Final = pd.concat([df_RMBS_dom, df_RMBS])
df_RMBS_Final = df_RMBS_Final.sort_index()
df_RMBS_Final.head()

,Bank_ID,bank_name,report_date,<3m,3m-1y,1y-3y,3y-5y,5y-15y,>15y
0,37,BANK OF HANCOCK COUNTY,03/31/2022,0.0,0.0,0.0,0.0,856.0,6021.0
5,242,FIRST COMMUNITY BANK XENIA-FLORA,03/31/2022,0.0,0.0,0.0,0.0,0.0,0.0
10,279,"MINEOLA COMMUNITY BANK, SSB",03/31/2022,2814.0,86.0,0.0,1049.0,26085.0,16737.0
15,354,BISON STATE BANK,03/31/2022,0.0,0.0,0.0,0.0,58.0,0.0
20,457,LOWRY STATE BANK,03/31/2022,0.0,0.0,0.0,0.0,0.0,0.0

# Treausurys and Other (non-RMBs)

In [13]:
non_RMBS_cols = ['RCFDA549', 'RCFDA550', 'RCFDA551', 'RCFDA552', 'RCFDA553', 'RCFDA554']
non_RMBS_dom_cols = ['RCONA549', 'RCONA550', 'RCONA551', 'RCONA552', 'RCONA553', 'RCONA554']

df_non_RMBS = load_assets.clean_loans(rcfd_data_2,non_RMBS_cols,inital_date)
df_non_RMBS_dom = load_assets.clean_loans(rcon_data_2,non_RMBS_dom_cols,inital_date)

In [14]:
df_treasury_and_others = pd.concat([df_non_RMBS_dom, df_non_RMBS])
df_treasury_and_others = df_treasury_and_others.sort_index()
df_treasury_and_others.head()

,Bank_ID,bank_name,report_date,<3m,3m-1y,1y-3y,3y-5y,5y-15y,>15y
0,37,BANK OF HANCOCK COUNTY,03/31/2022,0.0,0.0,330.0,708.0,26220.0,19212.0
5,242,FIRST COMMUNITY BANK XENIA-FLORA,03/31/2022,600.0,784.0,2268.0,2813.0,11784.0,135.0
10,279,"MINEOLA COMMUNITY BANK, SSB",03/31/2022,0.0,0.0,8190.0,7815.0,16591.0,5854.0
15,354,BISON STATE BANK,03/31/2022,150.0,348.0,0.0,189.0,0.0,0.0
20,457,LOWRY STATE BANK,03/31/2022,0.0,0.0,952.0,479.0,0.0,0.0

In [15]:
other_cols = ['RCFDA561', 'RCFDA562']
other_cols2 = ['RCONA561', 'RCONA562']
other_names = ['<3y', '>3y']

df_other_MBS =  load_assets.clean_others(rcfd_data_1,other_cols,other_names,inital_date)
df_other_MBS_domestic =  load_assets.clean_others(rcon_data_2,other_cols2,other_names,inital_date)
df_other_MBS_total = pd.concat([df_other_MBS, df_other_MBS_domestic])
df_other_MBS_total.head()

,Bank_ID,bank_name,report_date,<3y,>3y
230,12311,"HUNTINGTON NATIONAL BANK, THE",03/31/2022,905975.0,10885639.0
537,30810,DISCOVER BANK,03/31/2022,0.0,0.0
635,35301,STATE STREET BANK AND TRUST COMPANY,03/31/2022,10596000.0,23772000.0
1095,60143,COMERICA BANK,03/31/2022,1727000.0,2868000.0
1170,63069,CITY NATIONAL BANK,03/31/2022,1511646.0,19059340.0

In [16]:
other_leases = ['RCFDA247']
other_leases2 = ['RCONA247']
other_names2 = ['<1y']

df_other_loan_lease =  load_assets.clean_others(rcfd_data_1,other_leases,other_names2,inital_date)
df_other_loan_lease_domestic =  load_assets.clean_others(rcon_data_1,other_leases2,other_names2,inital_date)
df_total_other_loan_lease = pd.concat([df_other_loan_lease, df_other_loan_lease_domestic])
df_total_other_loan_lease.head()

      Bank_ID                            bank_name report_date         <1y
230     12311        HUNTINGTON NATIONAL BANK, THE  03/31/2022  19296859.0
537     30810                        DISCOVER BANK  03/31/2022    185091.0
635     35301  STATE STREET BANK AND TRUST COMPANY  03/31/2022  20053000.0
1095    60143                        COMERICA BANK  03/31/2022  16972000.0
1170    63069                   CITY NATIONAL BANK  03/31/2022  10554867.0

# Asset Decomposition

In [17]:
sum_asset = 0
for df in [df_RMBS_Final, df_loans_first_lien_domestic, df_treasury_and_others, df_other_loan]:
    total = df[['<3m', '3m-1y', '1y-3y', '3y-5y', '5y-15y', '>15y']].sum().sum()
    sum_asset += total

print('total assets:',"{:,.2f}".format(sum_asset))

total assets: 16,590,518,404.00

In [18]:
print('assets ratio:',"{:,.2%}".format(sum_asset/total_asset))

assets ratio: 69.16%

In [19]:
RMBS = df_RMBS_Final[['<3m', '3m-1y', '1y-3y', '3y-5y', '5y-15y', '>15y']].sum().sum()
a = RMBS / total_asset
"{:,.2%}".format(a)

'9.81%'

In [20]:
df_loans = df_loans_first_lien_domestic[['<3m', '3m-1y', '1y-3y', '3y-5y', '5y-15y', '>15y']].sum().sum()
b = df_loans / total_asset
"{:,.2%}".format(b)

'9.28%'

In [21]:
df_treasury = df_treasury_and_others[['<3m', '3m-1y', '1y-3y', '3y-5y', '5y-15y', '>15y']].sum().sum()
c = df_treasury / total_asset
"{:,.2%}".format(c)

'12.26%'

In [22]:
df_other_ln = df_other_loan[['<3m', '3m-1y', '1y-3y', '3y-5y', '5y-15y', '>15y']].sum().sum()
d = df_other_ln / total_asset
"{:,.2%}".format(d)

'37.81%'

In [23]:
df_other_MBS = df_other_MBS_total[['<3y', '>3y']].sum().sum()
e = df_other_MBS  / total_asset
"{:,.2%}".format(e)

'3.98%'

In [24]:
df_total_other_ll = df_total_other_loan_lease['<1y'].sum()
f = df_total_other_ll / total_asset
"{:,.2%}".format(f)

'9.35%'

In [25]:
"{:,.2%}".format(a+b+c+d+e) #matches with the function above

'73.14%'

## roughly the same as the security component (see Panel A)

In [26]:
"{:,.2%}".format(a+e+c)

'26.05%'

## roughly the same as the total loan component (see Panel A)

In [27]:
"{:,.2%}".format(d+b)

'47.09%'

# Table Analysis (Below are the contents for first column of table 1)

# 1. Aggregate Loss and Bank Loss (include each share)

###  Treasury prices

In [28]:
combined_index_df = data_read.load_df('combined_index_df')
treasury_prices = combined_index_df[['iShares 0-1', 'iShares 1-3', 'sp 3-5', 'iShares 7-10', 'iShares 10-20', 'iShares 20+']]
treasury_prices = treasury_prices.resample('Q').first()
treasury_prices = treasury_prices.loc[inital_date:analysis_date]
treasury_prices

,iShares 0-1,iShares 1-3,sp 3-5,iShares 7-10,iShares 10-20,iShares 20+
date,,,,,,
2022-03-31,102.080002,81.459160,490.30,109.055511,138.736893,139.034607
2022-06-30,101.980003,79.252747,465.35,101.439735,126.306000,124.729774
2022-09-30,101.980003,79.260551,464.47,98.588120,114.192192,109.723854
2022-12-31,102.220001,77.765366,445.74,91.988579,103.304291,97.439491
2023-03-31,103.180000,78.298477,450.77,92.527946,103.718979,95.607788
2023-06-30,104.309998,79.560150,461.71,96.156395,110.428497,102.662582
2023-09-30,105.400002,79.060684,455.55,94.346184,107.785049,100.120781
2023-12-31,106.739998,79.563690,452.71,90.125717,96.766701,86.993179

In [29]:
df_SP_Treasury_bond_index = data_read.load_df('Treasury_index',1)
df_SP_Treasury_bond_index = df_SP_Treasury_bond_index.resample('Q').first()
df_SP_Treasury_bond_index = df_SP_Treasury_bond_index.loc[inital_date:analysis_date]
df_SP_Treasury_bond_index

            S&P U.S. Treasury Bond Index
date
2022-03-31                        470.35
2022-06-30                        449.59
2022-09-30                        438.25
2022-12-31                        421.94
2023-03-31                        423.71
2023-06-30                        435.28
2023-09-30                        428.60
2023-12-31                        417.11

In [30]:
df_iShare_MBS_ETF = data_read.load_df('MBS_ETF',1,csv=True)
df_iShare_MBS_ETF.index = pd.to_datetime(df_iShare_MBS_ETF.index)
df_iShare_MBS_ETF = df_iShare_MBS_ETF.resample('Q').first()
df_iShare_MBS_ETF.index.rename('date', inplace=True)
df_iShare_MBS_ETF = df_iShare_MBS_ETF.loc[inital_date:analysis_date]
df_iShare_MBS_ETF

,Open,High,Low,Close,Adj Close,Volume
date,,,,,,
2022-03-31,107.279999,107.279999,107.000000,107.000000,100.458702,2352200
2022-06-30,100.940002,101.349998,100.879997,101.260002,95.471237,1854600
2022-09-30,97.989998,98.599998,97.809998,98.010002,92.840919,1463400
2022-12-31,92.169998,92.879997,92.120003,92.220001,87.885315,2229800
2023-03-31,93.559998,93.699997,93.110001,93.190002,89.444168,2060800
2023-06-30,94.199997,94.940002,94.139999,94.900002,91.806252,1933400
2023-09-30,92.839996,93.190002,92.699997,92.709999,90.448257,811600
2023-12-31,87.940002,88.089996,87.519997,87.599998,86.246132,4070300

In [31]:
df_asset

       Bank_ID                            bank_name report_date  gross_asset
230      12311        HUNTINGTON NATIONAL BANK, THE  03/31/2022  176020595.0
537      30810                        DISCOVER BANK  03/31/2022  105657408.0
635      35301  STATE STREET BANK AND TRUST COMPANY  03/31/2022  318494000.0
1095     60143                        COMERICA BANK  03/31/2022   89142000.0
1170     63069                   CITY NATIONAL BANK  03/31/2022   91770285.0
...        ...                                  ...         ...          ...
23870  5620869                         GENESIS BANK  03/31/2022      95052.0
23875  5650923                       WATERFALL BANK  03/31/2022      87152.0
23880  5660146                            ENTREBANK  03/31/2022      35261.0
23885  5673191                        LOCALITY BANK  03/31/2022      43775.0
23894  5691319            SCOTTSDALE COMMUNITY BANK  03/31/2022      19216.0

[4844 rows x 4 columns]

In [32]:
RMBS_Multiplier = calc_functions.RMBs_Multiplier(df_SP_Treasury_bond_index, df_iShare_MBS_ETF,inital_date,analysis_date)
RMBS_Multiplier

1.2498795310682302

In [33]:
#Create copies for each dataframe
df_RMBS_Final_1 = df_RMBS_Final.copy() 
df_loans_first_lien_domestic_1 = df_loans_first_lien_domestic.copy()
df_treasury_and_others_1 = df_treasury_and_others.copy()
df_other_loan_1 = df_other_loan.copy()

In [34]:
bank_losses = calc_functions.report_losses(inital_date,analysis_date,df_RMBS_Final, df_loans_first_lien_domestic,\
                                            df_treasury_and_others, df_other_loan, treasury_prices, RMBS_Multiplier, df_asset)
bank_losses

,bank_name,bank_ID,RMBs_loss,treasury_loss,loans_loss,other_loan_loss,total_loss,Share RMBs,Share Treasury and Other,Share Residential Mortgage,Share Other Loan,RMBs_asset,treasury_asset,residential_mortgage_asset,other_loan_asset,core_asset,gross_asset,loss/core_asset,loss/gross_asset
0,"HUNTINGTON NATIONAL BANK, THE",12311,-1.097136e+07,-9.578672e+05,-7.514459e+06,-2.987875e+06,-2.243156e+07,48.910375,4.270176,33.499489,13.319960,23910558.0,6623679.0,22529389,92122592.0,145186218.0,176020595.0,0.154502,0.127437
1,DISCOVER BANK,30810,-1.276556e+05,-2.655136e+04,-3.451989e+05,3.215732e+05,-1.778327e+05,71.784105,14.930531,194.114454,-180.829090,364810.0,5612015.0,804718,92452467.0,99234010.0,105657408.0,0.001792,0.001683
2,STATE STREET BANK AND TRUST COMPANY,35301,-9.932409e+06,-2.278605e+06,0.000000e+00,6.051207e+05,-1.160589e+07,85.580738,19.633171,-0.000000,-5.213909,22436000.0,62518000.0,0,35293000.0,120247000.0,318494000.0,0.096517,0.036440
3,COMERICA BANK,60143,-4.264916e+06,-5.217943e+05,-4.569991e+05,1.448761e+06,-3.794949e+06,112.384019,13.749704,12.042297,-38.176020,9378000.0,4835000.0,1825000,47475000.0,63513000.0,89142000.0,0.059751,0.042572
4,CITY NATIONAL BANK,63069,-1.063489e+05,-3.593933e+05,-6.203280e+06,-9.497244e+05,-7.618747e+06,1.395884,4.717223,81.421268,12.465625,336792.0,5698026.0,19072816,39175374.0,64283008.0,91770285.0,0.118519,0.083020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4839,GENESIS BANK,5620869,0.000000e+00,0.000000e+00,0.000000e+00,-9.029200e+03,-9.029200e+03,-0.000000,-0.000000,-0.000000,100.000000,0.0,0.0,0,59836.0,59836.0,95052.0,0.150899,0.094992
4840,WATERFALL BANK,5650923,-3.100823e+03,-6.458241e+02,0.000000e+00,-3.820399e+03,-7.567046e+03,40.977982,8.534692,-0.000000,50.487326,6628.0,2713.0,0,24447.0,33788.0,87152.0,0.223957,0.086826
4841,ENTREBANK,5660146,0.000000e+00,0.000000e+00,0.000000e+00,-2.386654e+02,-2.386654e+02,-0.000000,-0.000000,-0.000000,100.000000,0.0,0.0,0,3113.0,3113.0,35261.0,0.076667,0.006769
4842,LOCALITY BANK,5673191,0.000000e+00,0.000000e+00,0.000000e+00,-7.856424e+02,-7.856424e+02,-0.000000,-0.000000,-0.000000,100.000000,0.0,0.0,0,8312.0,8312.0,43775.0,0.094519,0.017947
4843,SCOTTSDALE COMMUNITY BANK,5691319,-5.235436e+02,-1.256753e+02,0.000000e+00,0.000000e+00,-6.492189e+02,80.642074,19.357926,-0.000000,-0.000000,1474.0,2996.0,0,0.0,4470.0,19216.0,0.145239,0.033785

In [35]:
median_percentage = bank_losses[['Share RMBs', 'Share Treasury and Other', 
        'Share Residential Mortgage', 'Share Other Loan']].median()
median_percentage
#close to reported values, but the distribution looks good

Share RMBs                     8.936900
Share Treasury and Other      17.421553
Share Residential Mortgage    20.136596
Share Other Loan              30.847693
dtype: float64

In [36]:
std_percentages =bank_losses[['Share RMBs', 'Share Treasury and Other', 
        'Share Residential Mortgage', 'Share Other Loan']].std()
std_percentages #this is slightly different

Share RMBs                     33.875838
Share Treasury and Other       56.802442
Share Residential Mortgage     86.194508
Share Other Loan              103.781097
dtype: float64

## Total, median, and std of losses

In [37]:
total_sum_loss = bank_losses['total_loss'].sum()
total_sum_loss

-2338613159.696033

In [38]:
median_bank_loss = bank_losses['total_loss'].median()
median_bank_loss

-32489.424964474798

In [39]:
std_bank_loss = bank_losses['total_loss'].std()
std_bank_loss

7838968.539039594

## Checks

In [40]:
core_asset = bank_losses['core_asset'].sum()
core_asset

16590518404.0

In [41]:
gross_asset = bank_losses['gross_asset'].sum()
gross_asset

23988517644.0

In [42]:
core_asset / gross_asset

0.6916024845807683

# 2. Loss / Asset

## Ratio Results

In [43]:
median_loss_asset_ratio = bank_losses['loss/gross_asset'].median()
median_loss_asset_ratio

0.10473796053386572

In [44]:
average_loss_asset_ratio = bank_losses['loss/gross_asset'].mean()
average_loss_asset_ratio

0.11264914503898231

In [45]:
std_loss_asset_ratio = bank_losses['loss/gross_asset'].std()
std_loss_asset_ratio

0.06690484537220656

### 3. Uninsured Deposit/MM Asset

In [46]:
uninsured_deposit = rcon_data_1[['RSSD9001','RSSD9017', 'RSSD9999', 'RCON5597']]
uninsured_deposit = uninsured_deposit .rename(columns={
    'RSSD9001': 'bank_ID',
    'RSSD9017': 'bank_name',
    'RSSD9999': 'report_date',
    'RCON5597': 'uninsured_deposit'

})
uninsured_deposit = uninsured_deposit[uninsured_deposit['report_date'] == '03/31/2022']

In [47]:
uninsured_deposit['uninsured_deposit'].sum() #Roughly 9 trillion

8585747730.0

#### 4. Insured Deposit Coverage Ratio - CURRENTLY NOT WORKING

In [48]:
insured_deposit = rcon_data_1[['RSSD9001','RSSD9017', 'RSSD9999', 'RCONF049', 'RCONF045']] 
#RCFDF049 are Deposit accounts (excluding retirement accounts) of $250,000 or less
#RCFDF045 are Retirement deposit accounts of $250,000 or less

insured_deposit = insured_deposit.rename(columns={
    'RSSD9001': 'bank_ID',
    'RSSD9017': 'bank_name',
    'RSSD9999': 'report_date',
    'RCONF049': 'insured_deposit_1',
    'RCONF045': 'insured_deposit_2'
})
insured_deposit = insured_deposit[insured_deposit['report_date'] == '03/31/2022']
insured_deposit['insured_deposit_1'].sum()/total_asset + insured_deposit['insured_deposit_2'].sum()/total_asset

0.33296701528357264

In [49]:
insured_deposit['insured_deposit'] = insured_deposit['insured_deposit_1'] + insured_deposit['insured_deposit_2']
insured_deposit

,bank_ID,bank_name,report_date,insured_deposit_1,insured_deposit_2,insured_deposit
0,37,BANK OF HANCOCK COUNTY,03/31/2022,57430.0,2428.0,59858.0
5,242,FIRST COMMUNITY BANK XENIA-FLORA,03/31/2022,33454.0,1385.0,34839.0
10,279,"MINEOLA COMMUNITY BANK, SSB",03/31/2022,197561.0,11879.0,209440.0
15,354,BISON STATE BANK,03/31/2022,9794.0,0.0,9794.0
20,457,LOWRY STATE BANK,03/31/2022,34905.0,2229.0,37134.0
...,...,...,...,...,...,...
23870,5620869,GENESIS BANK,03/31/2022,9402.0,0.0,9402.0
23875,5650923,WATERFALL BANK,03/31/2022,7911.0,0.0,7911.0
23880,5660146,ENTREBANK,03/31/2022,1020.0,0.0,1020.0
23885,5673191,LOCALITY BANK,03/31/2022,912.0,0.0,912.0
23894,5691319,SCOTTSDALE COMMUNITY BANK,03/31/2022,612.0,0.0,612.0

In [50]:
insured_deposit['insured_deposit'].sum()

7987385121.0

In [51]:

coverage_ratios_df = calc_functions.insured_deposit_coverage_ratio(insured_deposit, uninsured_deposit, bank_losses)
coverage_ratios_df

,bank_name,bank_ID,total_loss,total_asset,mm_asset,insured_deposit,uninsured_deposit,Uninsured_Deposit_MM_Asset,insured_deposit_coverage_ratio
0,"HUNTINGTON NATIONAL BANK, THE",12311,-2.243156e+07,176020595.0,1.535890e+08,78986097.0,83160026.0,0.541445,-0.108337
1,DISCOVER BANK,30810,-1.778327e+05,105657408.0,1.054796e+08,57543068.0,8691421.0,0.082399,0.682012
2,STATE STREET BANK AND TRUST COMPANY,35301,-1.160589e+07,318494000.0,3.068881e+08,11687000.0,155822000.0,0.507749,11.925995
3,COMERICA BANK,60143,-3.794949e+06,89142000.0,8.534705e+07,21921000.0,51044000.0,0.598076,0.564849
4,CITY NATIONAL BANK,63069,-7.618747e+06,91770285.0,8.415154e+07,17928917.0,58096403.0,0.690378,0.453246
...,...,...,...,...,...,...,...,...,...
4839,GENESIS BANK,5620869,-9.029200e+03,95052.0,8.602280e+04,9402.0,NaN,NaN,NaN
4840,WATERFALL BANK,5650923,-7.567046e+03,87152.0,7.958495e+04,7911.0,NaN,NaN,NaN
4841,ENTREBANK,5660146,-2.386654e+02,35261.0,3.502233e+04,1020.0,NaN,NaN,NaN
4842,LOCALITY BANK,5673191,-7.856424e+02,43775.0,4.298936e+04,912.0,NaN,NaN,NaN
4843,SCOTTSDALE COMMUNITY BANK,5691319,-6.492189e+02,19216.0,1.856678e+04,612.0,NaN,NaN,NaN

## Checks

In [52]:
coverage_ratios_df['total_loss'].sum()

-2338613159.696033

In [53]:
coverage_ratios_df['total_asset'].sum()

23988517644.0

In [54]:
coverage_ratios_df['mm_asset'].sum()

21649904484.30397

In [55]:
coverage_ratios_df['insured_deposit'].sum()

7987385121.0

In [56]:
coverage_ratios_df['uninsured_deposit'].sum()

8585747730.0

In [57]:
coverage_ratios_df['mm_asset'].sum()

21649904484.30397

## Ratio Results

In [58]:
coverage_ratios_df['Uninsured_Deposit_MM_Asset'].median()

0.3296886521959773

In [59]:
coverage_ratios_df['Uninsured_Deposit_MM_Asset'].std()

0.17175544729350692

In [60]:
coverage_ratios_df['insured_deposit_coverage_ratio'].median()

0.3731255625801196

In [61]:
coverage_ratios_df['insured_deposit_coverage_ratio'].std()

329.6287912387752

# Final Table Results

In [81]:
def final_statistic_table(bank_losses_assets, uninsured_deposit_mm_asset, insured_deposit_coverage, index_name = 'All Banks'):
    # Merge the DataFrames on bank_name and Bank_ID to include uninsured deposit/MM Asset ratios and insured deposit coverage ratios
    
    
    bank_count = len(bank_losses_assets.index)

    final_stats = pd.DataFrame({
        'Aggregate Loss': [f"{-round(bank_losses_assets['total_loss'].sum() / 1e9, 1)}T"],  # Convert to trillions
        'Bank Level Loss': [f"{-round(bank_losses_assets['total_loss'].median() / 1e3, 1)}M"],  # Convert to millions
        'Bank Level Loss Std': [f"{round(bank_losses_assets['total_loss'].std() / 1e6, 2)}B"],  # Std deviation for Bank Level Loss
        'Share RMBS': [round(bank_losses_assets['Share RMBs'].median() * 100, 1)],  # Median percentage
        'Share RMBS Std': [round(bank_losses_assets['Share RMBs'].std() * 100, 1)],  # Std deviation for Share RMBS
        'Share Treasury and Other': [round(bank_losses_assets['Share Treasury and Other'].median() * 100, 1)],  # Median percentage
        'Share Treasury and Other Std': [round(bank_losses_assets['Share Treasury and Other'].std() * 100, 1)],  # Std deviation
        'Share Residential Mortgage': [round(bank_losses_assets['Share Residential Mortgage'].median() * 100, 1)],  # Median percentage
        'Share Residential Mortgage Std': [round(bank_losses_assets['Share Residential Mortgage'].std() * 100, 1)],  # Std deviation
        'Share Other Loan': [round(bank_losses_assets['Share Other Loan'].median() * 100, 1)],  # Median percentage
        'Share Other Loan Std': [round(bank_losses_assets['Share Other Loan'].std() * 100, 1)],  # Std deviation
        'Loss/Asset': [round(bank_losses_assets['loss/gross_asset'].median() * 100, 1)],  # Median percentage
        'Loss/Asset Std': [round(bank_losses_assets['loss/gross_asset'].std() * 100, 1)],  # Std deviation
        'Uninsured Deposit/MM Asset': [round(uninsured_deposit_mm_asset['Uninsured_Deposit_MM_Asset'].median() * 100, 1)],  # Median percentage
        'Uninsured Deposit/MM Asset Std': [round(uninsured_deposit_mm_asset['Uninsured_Deposit_MM_Asset'].std() * 100, 1)],  # Std deviation
        'Insured Deposit Coverage Ratio': [round(insured_deposit_coverage['insured_deposit_coverage_ratio'].median() * 100, 1)],  # Median percentage
        'Insured Deposit Coverage Ratio Std': [round(insured_deposit_coverage['insured_deposit_coverage_ratio'].std() * 100, 1)],  # Std deviation
        'Number of Banks': [len(bank_losses_assets.index.unique())]  # Count of unique banks
    })

    # Rename index to 'All Banks'
    final_stats.index = [index_name]

    final_stats = final_stats.T
    
    return final_stats

In [82]:
def GSIB_bank_id():
    #GSIB = [35301,93619,229913,398668,413208,451965,476810,480228,488318,
     #497404,541101,651448,688079,722777,812164,852218,934329,1225761,
     #1443266,1456501,2182786,2362458,2489805,2531991,3066025]
    GSIB = [852218, 480228, 476810, 413208, #JP Morgan, Bank of America, Citigroup, HSBC
      2980209, 2182786, 541101, 655839, 1015560, 229913,#Barclays, Goldman Sachs, BNY Mellon, CCB COMMUNITY BANK, ICBC, Mizuho
       1456501, 722777, 35301, 925411, 497404, 3212149, #Morgan Stanley, Santander, State Street, Sumitomo Mitsui, TD Bank, UBS
      451965] #wells fargo
    return GSIB

def large_ex_GSIB_bank_id(large):
    bank_id_large_ex_GSIB = []
    for bank_id in large['Bank_ID']:
       bank_id_large_ex_GSIB.append(bank_id)
    return bank_id_large_ex_GSIB

def small_bank_id(small):
    bank_id_small = []
    for bank_id in small['Bank_ID']:
       bank_id_small.append(bank_id)
    return bank_id_small

In [83]:
GSIB = GSIB_bank_id() #list of GSIB bank IDs
df_asset_GSIB = df_asset[df_asset['Bank_ID'].isin(GSIB)] #total assets all GSIB banks
#Large non-GSIB Banks
df_asset_large_ex_GSIB = df_asset[(~df_asset['Bank_ID'].isin(GSIB)) & (df_asset['gross_asset']>1384000)] #total assets all large non-GSIB banks
large_ex_GSIB = large_ex_GSIB_bank_id(df_asset_large_ex_GSIB) #list of large non-GSIB bank IDs
#Small Banks
df_asset_small = df_asset[(~df_asset['Bank_ID'].isin(GSIB)) & (df_asset['gross_asset']<=1384000)] #total asset all small banks 
small = small_bank_id(df_asset_small)

In [84]:
df_RMBS_GSIB = df_RMBS_Final[df_RMBS_Final['Bank_ID'].isin(GSIB)] #RMBS for GSIB banks
df_RMBS_large_ex_GSIB = df_RMBS_Final[df_RMBS_Final['Bank_ID'].isin(large_ex_GSIB)] #RMBS for large non-GSIB banks
df_RMBS_small = df_RMBS_Final[df_RMBS_Final['Bank_ID'].isin(small)]

df_RMBS_Final = df_RMBS_Final #RMBS for all banks 
df_RMBS_GSIB = df_RMBS_Final[df_RMBS_Final['Bank_ID'].isin(GSIB)] #RMBS for GSIB banks
df_RMBS_large_ex_GSIB = df_RMBS_Final[df_RMBS_Final['Bank_ID'].isin(large_ex_GSIB)] #RMBS for large non-GSIB banks
df_RMBS_small = df_RMBS_Final[df_RMBS_Final['Bank_ID'].isin(small)] #RMBS for small banks

#Loans First Lien Domestic

df_loans_first_lien_domestic = df_loans_first_lien_domestic # loans first lien domestic for all banks
df_loans_first_lien_domestic_GSIB = df_loans_first_lien_domestic[df_loans_first_lien_domestic['Bank_ID'].isin(GSIB)] # loans first lien domestic for all GSIB banks
df_loans_first_lien_domestic_large_ex_GSIB = df_loans_first_lien_domestic[df_loans_first_lien_domestic['Bank_ID'].isin(large_ex_GSIB)] # loans first lien domestic for all large non-GSIB banks
df_loans_first_lien_domestic_small = df_loans_first_lien_domestic[df_loans_first_lien_domestic['Bank_ID'].isin(small)]

df_treasury_and_others = df_treasury_and_others #treasury and others all banks 
df_treasury_and_others_GSIB = df_treasury_and_others[df_treasury_and_others['Bank_ID'].isin(GSIB)] #treasury and others GSIB banks
df_treasury_and_others_large_ex_GSIB = df_treasury_and_others[df_treasury_and_others['Bank_ID'].isin(large_ex_GSIB)] #treasury and others large non-GSIB baanks 
df_treasury_and_others_small = df_treasury_and_others[df_treasury_and_others['Bank_ID'].isin(small)] #treasury and others small banks 

#Other Loan 

df_other_loan = df_other_loan #other loans for all banks 
df_other_loan_GSIB = df_other_loan[df_other_loan['Bank_ID'].isin(GSIB)] #other loans for all GSIB banks 
df_other_loan_large_ex_GSIB = df_other_loan[df_other_loan['Bank_ID'].isin(large_ex_GSIB)] #other loans for all large non-GSIB banks
df_other_loan_small = df_other_loan[df_other_loan['Bank_ID'].isin(small)] 

 #uninsured deposits
uninsured_deposit = uninsured_deposit #uninsured deposits for all banks
uninsured_deposit_GSIB = uninsured_deposit[uninsured_deposit['bank_ID'].isin(GSIB)] #uninsured deposits for GSIB banks
uninsured_deposit_large_ex_GSIB = uninsured_deposit[uninsured_deposit['bank_ID'].isin(large_ex_GSIB)] #uninsured deposits for large non-GSIB banks
uninsured_deposit_small = uninsured_deposit[uninsured_deposit['bank_ID'].isin(small)] #uninsured deposits for small banks

#insured deposits
insured_deposits = insured_deposit.copy() #insured deposits for all banks
insured_deposits_GSIB = insured_deposits[insured_deposits['bank_ID'].isin(GSIB)] #insured deposits for GSIB banks
insured_deposits_large_ex_GSIB = insured_deposits[insured_deposits['bank_ID'].isin(large_ex_GSIB)] #insured deposits for large non-GSIB banks
insured_deposits_small = insured_deposits[insured_deposits['bank_ID'].isin(small)]

In [85]:
bank_losses_assets = bank_losses.copy()
bank_losses_assets_small = calc_functions.report_losses(inital_date,analysis_date,df_RMBS_small, df_loans_first_lien_domestic_small, df_treasury_and_others_small, df_other_loan_small, treasury_prices, RMBS_Multiplier, df_asset_small)

In [86]:
bank_losses_assets_large_ex_GSIB = calc_functions.report_losses(inital_date,analysis_date,df_RMBS_large_ex_GSIB, df_loans_first_lien_domestic_large_ex_GSIB, df_treasury_and_others_large_ex_GSIB, df_other_loan_large_ex_GSIB, treasury_prices, RMBS_Multiplier, df_asset_large_ex_GSIB)

In [87]:
bank_losses_assets_GSIB = calc_functions.report_losses(inital_date,analysis_date,df_RMBS_GSIB, df_loans_first_lien_domestic_GSIB, df_treasury_and_others_GSIB, df_other_loan_GSIB, treasury_prices, RMBS_Multiplier, df_asset_GSIB)

In [88]:
def calculate_uninsured_deposit_mm_asset(uninsured_deposit, bank_losses):
    
    # Initialize an empty list to store the results
    results = []
    
    # Adjust the uninsured_deposit DataFrame to use both 'bank_name' and 'Bank_ID' as a multi-index for quick lookup
    uninsured_lookup = uninsured_deposit.set_index(['bank_name', 'bank_ID'])['uninsured_deposit'].to_dict()
    
    # Iterate over each row in bank_losses DataFrame
    for index, bank_loss_row in bank_losses.iterrows():
        bank_name = bank_loss_row['bank_name']
        bank_id = bank_loss_row['bank_ID']
        
        # Adjust the lookup to include 'Bank_ID'
        uninsured_deposit_value = uninsured_lookup.get((bank_name, bank_id), 0)
        
        # Calculate 'MM Asset' as the sum of 'total_loss' and 'gross_asset' (as defined in the paper)
        mm_asset = bank_loss_row['total_loss'] + bank_loss_row['gross_asset']
        
        # Calculate Uninsured Deposit/MM Asset ratio 
        if mm_asset > 0:
            uninsured_deposit_mm_asset_ratio = uninsured_deposit_value / mm_asset
        
        # Append to final dataframe
        results.append({
            'bank_name': bank_name,
            'bank_ID': bank_id, 
            'total_loss': bank_loss_row['total_loss'], 
            'total_asset': bank_loss_row['gross_asset'],
            'mm_asset': mm_asset,
            'uninsured_deposit': uninsured_deposit_value, 
            'Uninsured_Deposit_MM_Asset': uninsured_deposit_mm_asset_ratio
        })
    
    # Convert results list to DataFrame and sort by 'Bank_ID'
    results_df = pd.DataFrame(results).sort_values(by=['bank_name', 'bank_ID'])
    
    return results_df

def insured_deposit_coverage_ratio(insured_deposit, uninsured_deposit, bank_losses):
    # Initialize an empty list to store the results
    results = []
    
    # Create dictionaries from insured and uninsured deposits for quick lookup
    insured_lookup = insured_deposit.set_index(['bank_name', 'bank_ID'])['insured_deposit'].to_dict()
    uninsured_lookup = uninsured_deposit.set_index(['bank_name', 'bank_ID'])['uninsured_deposit'].to_dict()
    
    # Iterate over each row in bank_losses DataFrame
    for index, bank_loss_row in bank_losses.iterrows():
        bank_name = bank_loss_row['bank_name']
        bank_id = bank_loss_row['bank_ID']
        
        # Retrieve insured and uninsured deposit values
        insured_deposit_value = insured_lookup.get((bank_name, bank_id), 0)
        uninsured_deposit_value = uninsured_lookup.get((bank_name, bank_id), 0)
        
        # Calculate mark-to-market asset value as the sum of 'total_asset' minus 'total_loss'
        mark_to_market_asset_value = bank_loss_row['gross_asset'] + bank_loss_row['total_loss']
        
        # Calculate the insured deposit coverage ratio
        if insured_deposit_value > 0:  # Prevent division by zero
            coverage_ratio = (mark_to_market_asset_value - uninsured_deposit_value - insured_deposit_value) / insured_deposit_value
        
        # Append the result
        results.append({
            'bank_name': bank_name,
            'bank_ID': bank_id,
            'mm_asset': mark_to_market_asset_value,
            'insured_deposit': insured_deposit_value,
            'uninsured_deposit': uninsured_deposit_value,
            'insured_deposit_coverage_ratio': coverage_ratio
        })
    
    # Convert results list to DataFrame
    results_df = pd.DataFrame(results)
    
    return results_df

In [89]:
uninsured_deposit_small

,bank_ID,bank_name,report_date,uninsured_deposit
0,37,BANK OF HANCOCK COUNTY,03/31/2022,NaN
5,242,FIRST COMMUNITY BANK XENIA-FLORA,03/31/2022,NaN
10,279,"MINEOLA COMMUNITY BANK, SSB",03/31/2022,NaN
15,354,BISON STATE BANK,03/31/2022,NaN
20,457,LOWRY STATE BANK,03/31/2022,NaN
...,...,...,...,...
23870,5620869,GENESIS BANK,03/31/2022,NaN
23875,5650923,WATERFALL BANK,03/31/2022,NaN
23880,5660146,ENTREBANK,03/31/2022,NaN
23885,5673191,LOCALITY BANK,03/31/2022,NaN
23894,5691319,SCOTTSDALE COMMUNITY BANK,03/31/2022,NaN

In [90]:
uninsured_deposit_mm_asset_small = calculate_uninsured_deposit_mm_asset(uninsured_deposit_small, bank_losses_assets_small)
insured_deposit_coverage_small = insured_deposit_coverage_ratio(insured_deposits_small, uninsured_deposit_small, bank_losses_assets_small)
uninsured_deposit_mm_asset_large_ex_GSIB = calculate_uninsured_deposit_mm_asset(uninsured_deposit_large_ex_GSIB, bank_losses_assets_large_ex_GSIB)
insured_deposit_coverage_large_ex_GSIB = insured_deposit_coverage_large_ex_GSIB = insured_deposit_coverage_ratio(insured_deposits_large_ex_GSIB, uninsured_deposit_large_ex_GSIB, bank_losses_assets_large_ex_GSIB)
uninsured_deposit_mm_asset_GSIB = calculate_uninsured_deposit_mm_asset(uninsured_deposit_GSIB, bank_losses_assets_GSIB)
insured_deposit_coverage_GSIB = insured_deposit_coverage_ratio(insured_deposits_GSIB, uninsured_deposit_GSIB, bank_losses_assets_GSIB)

In [92]:
un_mm_ratio = calculate_uninsured_deposit_mm_asset(uninsured_deposit, bank_losses)

In [93]:
final_stats = final_statistic_table(bank_losses_assets, un_mm_ratio, coverage_ratios_df)
final_stats_small = final_statistic_table(bank_losses_assets_small, uninsured_deposit_mm_asset_small, insured_deposit_coverage_small, index_name = 'Small Banks')
final_stats_large_ex_GSIB = final_statistic_table(bank_losses_assets_large_ex_GSIB, uninsured_deposit_mm_asset_large_ex_GSIB, insured_deposit_coverage_large_ex_GSIB, index_name = 'Large Ex GSIB Banks')
final_stats_GSIB = final_statistic_table(bank_losses_assets_GSIB, uninsured_deposit_mm_asset_GSIB, insured_deposit_coverage_GSIB, index_name = 'GSIB Banks')

In [94]:
table_2 = pd.concat([final_stats, final_stats_small, final_stats_large_ex_GSIB, final_stats_GSIB], axis=1)
table_2

,All Banks,Small Banks,Large Ex GSIB Banks,GSIB Banks
Aggregate Loss,2.3T,0.2T,1.1T,1.0T
Bank Level Loss,32.5M,24.9M,342.8M,10079.6M
Bank Level Loss Std,7.84B,0.05B,5.93B,114.1B
Share RMBS,893.7,777.9,1534.1,2572.5
Share RMBS Std,3387.6,3428.1,3079.2,3876.0
Share Treasury and Other,1742.2,1873.0,1179.6,1441.0
Share Treasury and Other Std,5680.2,5733.7,5418.5,1882.9
Share Residential Mortgage,2013.7,1947.5,2330.2,2085.1
Share Residential Mortgage Std,8619.5,7800.2,12238.3,7832.0
Share Other Loan,3084.8,3026.1,3354.3,145.4
Share Other Loan Std,10378.1,8878.0,16406.8,10709.8
Loss/Asset,10.5,10.4,10.8,5.4
Loss/Asset Std,6.7,6.8,6.3,5.1
Uninsured Deposit/MM Asset,33.0,28.7,34.7,39.5
Uninsured Deposit/MM Asset Std,17.2,16.0,17.3,16.7
Insured Deposit Coverage Ratio,37.3,35.4,37.4,93.6
Insured Deposit Coverage Ratio Std,32962.9,909.5,37983.9,436.8
Number of Banks,4844,4095,732,17