In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import data_read
import config
from pathlib import Path

BASE_DIR = config.BASE_DIR
data_dir = BASE_DIR / 'data'

In [ ]:
sp_1_3 = data_read.process_sp_data('S&P 1-3','sp 1-3')
sp_3_5 = data_read.process_sp_data('S&P 3-5','sp 3-5')
sp_7_10 = data_read.process_sp_data('S&P 7-10','sp 7-10')

In [ ]:
sp_1_3[sp_1_3.index == '2022-01-03'].iloc[0,0],sp_1_3[sp_1_3.index == '2023-03-31'].iloc[0,0]

In [ ]:
start_date = "2019-02-25"
end_date = "2024-03-01"
etf_symbols = ["IB01.L","SHY", "IEF", "TLH", "TLT"]
etf_names = ["iShares 0-1","iShares 1-3", "iShares 7-10", "iShares 10-20", "iShares 20+"]
ishares = data_read.fetch_etfs(etf_symbols,start_date,end_date)
ishares.columns = etf_names
ishares

In [ ]:
data_read.save_df(ishares,Path(data_dir) / "pulled"/ "ishares")

In [ ]:
ishares = data_read.load_df(Path(data_dir) / "pulled"/ "ishares")

In [ ]:
df_ls = [ishares,sp_1_3,sp_3_5,sp_7_10]

In [ ]:
combined_df = data_read.combine_dfs(df_ls)
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')
pd.reset_option('display.expand_frame_repr')
combined_df

In [ ]:
data_read.save_df(combined_df, Path(data_dir) / "pulled" / "combined_index_df")

In [ ]:
combined_df = data_read.load_df(Path(data_dir) / "pulled" / "combined_index_df")
combined_df

In [ ]:
test_range = combined_df[combined_df.index >= '2022-07-01'].head()
pd.set_option('display.max_rows', None)  # Set to None for unlimited rows
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(test_range)

In [ ]:
test_string1 = test_range.to_string().replace(" ", "").replace("\n", "")
test_string1

In [ ]:
test_string2 ='''
        iShares 0-1  iShares 1-3  iShares 7-10  iShares 10-20  iShares 20+  sp 1-3  sp 3-5  sp 7-10
        date                                                                                                   
        2022-07-01   101.980003    79.260551     98.588120     114.192192   109.723854  331.17  464.47   620.23
        2022-07-02   101.980003    79.260551     98.588120     114.192192   109.723854  331.17  464.47   620.23
        2022-07-03   101.980003    79.260551     98.588120     114.192192   109.723854  331.17  464.47   620.23
        2022-07-04   101.970001    79.260551     98.588120     114.192192   109.723854  331.17  464.47   620.23
        2022-07-05   101.959999    79.250984     98.951019     114.890854   110.585976  331.28  465.09   623.16

    '''
test_string2 = test_string2.replace(" ", "").replace("\n", "")
test_string2

In [ ]:
test_string1 == test_string2

In [ ]:
from difflib import SequenceMatcher

In [ ]:
def find_string_difference_location(str1, str2):
    # Iterate through the characters of the strings to find difference
    for i, (char1, char2) in enumerate(zip(str1, str2)):
        if char1 != char2:
            return i  
 
    if min(len(str1), len(str2)) == len(str1):
        return "no differences in strings"
    else: 
        return "differnce found at:" + min(len(str1), len(str2))

find_string_difference_location(test_string1, test_string2)

In [ ]:
len(test_string1)

In [ ]:
start_g = '2022-01-01'
end_g = '2023-03-01'

data_read.graph_index(combined_df,start_g,end_g)